.tmp/*

# Node.js
node_modules/
npm-debug.log*

# Prisma
backend/src/generated/prisma
backend/prisma.config.d.ts
backend/prisma.config.js
backend/prisma.config.js.map

# Build outputs
dist/
build/

# Environment
.env
.env.local

# OS
.DS_Store

# AI Documents
AGENTS.md

# Visual Studio Code
!.vscode/*settings.json
